@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.down-arrow {
  margin-right: 10px;
  width: 30px;
}

.filter {
  padding: 10px;
}

.filter-btn,
.search-btn {
  background-color: #2a79c8;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 4px;
  padding: 10px;
}

.header {
  background-color: #f3ebeb;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.item-price {
  font-size: 20px;
  margin-top: 5px;
}

.item-rating {
  margin-top: 10px;
  display: flex;
  font-size: 20px;
}

.login-btn {
  background-color: #2a79c8;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin: 4px;
  padding: 10px;
}

.logo {
  border-radius: 10px;
  width: 100px;
}

.logo-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.menu-dropdown {
  border: 1px solid black;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.nav-items {
  align-items: center;
  display: flex;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  gap: 40px;
  list-style-type: none;
}

.res-address {
  font-size: 15px;
  margin-top: 10px;
}

.res-card {
  border: 1px solid black;
  border-radius: 10px;
  height: 350px;
  margin: 20px;
  width: 250px;
}

.res-card:hover {
  border: 1px solid #3037bd;
  cursor: pointer;
}

.res-common-info {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
}

.res-common-info-left {
  margin-top: 10px;
  padding: 10px;
}

.res-common-info-right {
  margin-top: 10px;
  padding: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-cost,
.res-delivery-time {
  color: #3037bd;
  font-size: 20px;
}

.res-cuisines {
  color: peru;
}

.res-cusines {
  font-size: 15px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.res-cusines,
.res-locality,
.res-rating {
  font-size: 15px;
  padding: 10px;
}

.res-image {
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
}

.res-info {
  margin: auto;
  width: 50%;
}

.res-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.res-locality {
  font-size: 15px;
  padding: 10px;
}

.res-name {
  font-size: 20px;
  overflow: hidden;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.res-rating {
  display: flex;
  justify-self: start;
}

.res-rating-number {
  font-size: 20px;
  margin-top: 5px;
}

.res-rating-star {
  display: inline-block;
  margin-right: 10px;
  width: 30px;
}

.res-rating-text {
  font-size: 30px;
  margin-right: 10px;
}

.resturant-categories {
  font-style: italic;
}

.resturant-dropdown {
  display: flex;
  justify-content: space-between;
}

.resturant-menu {
  margin-top: 30px;
  padding: 10px;
}

.resturant-name {
  margin-bottom: 50px;
  margin-top: 100px;
}

.search-input {
  border: 1px solid #2a79c8;
  border-radius: 10px;
  font-size: 20px;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.shimmer-btn {
  background-color: #bdc4cc;
  border: none;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px;
  width: 100px;
}

.shimmer-card {
  border: 1px solid black;
  border-radius: 10px;
  height: 350px;
  margin: 20px;
  width: 250px;
}

.shimmer-container {
  background-repeat: repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.shimmer-desp {
  background-color: #bdc4cc;
  height: 20px;
  margin-top: 10px;
  width: 50%;
}

.shimmer-img {
  background-color: #bdc4cc;
  border-radius: 10px 10px 0 0;
  height: 150px;
  width: 100%;
}

.shimmer-text {
  background-color: #bdc4cc;
  height: 20px;
  margin-top: 10px;
  width: 80%;
}

.item-image {
  border-radius: 10px;
  width: 250px;
}

.user-card {
  margin: 10px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}

.no-underline {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.no-underline:hover {
  border-bottom: 2px solid black;
  color: black;
  border-radius: 2px;
}

.login {
  border: 1.5px solid #2a79c8;
  border-radius: 10px;
  padding: 50px;
  margin-top: 20px;
}

.login-email,
.login-password {
  border: 1.5px solid #2a79c8;
} */
